<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.atcrowdfunding.manager.dao.AdvertisementMapper" >

  <!--广告管理映射配置文件-->

  <!--封装结果集-->
  <resultMap id="BaseResultMap" type="com.atguigu.atcrowdfunding.bean.Advertisement" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="iconpath" property="iconpath" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
  </resultMap>

  <!--根据id删除-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete
    from t_advertisement
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!--添加数据-->
  <insert id="insert" parameterType="com.atguigu.atcrowdfunding.bean.Advertisement" >
    insert
    into t_advertisement (id, name, iconpath, status, url, userid)
    values (#{id,jdbcType=INTEGER},
            #{name,jdbcType=VARCHAR},
            #{iconpath,jdbcType=VARCHAR},
            #{status,jdbcType=CHAR},
            #{url,jdbcType=VARCHAR},
            #{userid,jdbcType=INTEGER})
  </insert>

  <!--根据id修改-->
  <update id="updateByPrimaryKey" parameterType="com.atguigu.atcrowdfunding.bean.Advertisement" >
    update t_advertisement
    set
      name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR}

      <where>
          <!--<if test="queryText != null">loginacct like '%${queryText}%'</if>-->
          <if test="iconpath != null">iconpath=#{iconpath,jdbcType=VARCHAR}</if>
      </where>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--根据id查询-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, name, iconpath, status, url, userid
    from t_advertisement
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!--查询所有-->
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, iconpath, status, url, userid
    from t_advertisement
  </select>

  <!-- 查询分页数据 -->
  <select id="queryList" resultMap="BaseResultMap">
		select id, name, iconpath, status, url, userid
		from t_advertisement
		limit #{startIndex},#{pagesize}
	</select>

  <!-- 查询总的记录条数 -->
  <select id="queryCount"  resultType="int">
		select count(*)
		from t_advertisement
  </select>

  <!--查询分页数据,避免sql注入采用 concat进行拼串-->
  <select id="queryListLike" resultMap="BaseResultMap">
    select id, name, iconpath, status, url, userid
    from t_advertisement
    <where>
      <!--<if test="queryText != null">loginacct like '%${queryText}%'</if>-->
      <if test="queryText != null">name like concat("%",#{queryText},"%")</if>
    </where>
    limit #{startIndex},#{pagesize}
  </select>

  <!-- 查询总的记录条数 -->
  <select id="queryCountLike"  resultType="int">
    select count(*)
    from t_advertisement
    <where>
      <!--<if test="queryText != null">loginacct like '%${queryText}%'</if>-->
      <if test="queryText != null">name like concat("%",#{queryText},"%")</if>
    </where>
  </select>

  <!--将广告状态设置为 status:2 审核完成-->
  <update id="updateAdvertisementStatusByIdPass" parameterType="int" >
    update t_advertisement
    set
       status = 2
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--拒绝申请-->
  <update id="updateAdvertisementStatusByIdRefuse" parameterType="int" >
    update t_advertisement
    set
       status = 4
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 获取查询需要发布广告的分页数据 -->
  <select id="queryPublishList" resultMap="BaseResultMap">
		select id, name, iconpath, status, url, userid
		from t_advertisement
		where status = 2
		limit #{startIndex},#{pagesize}
	</select>

  <!-- 查询需要发布广告总的记录条数 -->
  <select id="queryPublishCount"  resultType="int">
		select count(*)
		from t_advertisement
		where status = 2
  </select>

  <!--将广告状态设置为 status:3 发布-->
  <update id="updateAdvertisementStatusByIdPublish" parameterType="int" >
    update t_advertisement
    set
       status = 3
    where id = #{id,jdbcType=INTEGER}
  </update>

    <!--获取查询已经发布的广告数据-->
    <select id="queryPublishAdvertisementList" resultMap="BaseResultMap">
		select id, name, iconpath, status, url, userid
		from t_advertisement
		where status = 3 and url = "body"
		limit #{startIndex},#{pagesize}
	</select>

    <!--查询已经发布的广告数据总的记录条数-->
    <select id="queryPublishAdvertisementCount"  resultType="int">
		select count(*)
		from t_advertisement
		where status = 3 and url = "body"
    </select>

    <!--获取查询已经发布的轮播图数据-->
    <select id="queryPublishCarouseAdvertisementList" resultMap="BaseResultMap">
		select id, name, iconpath, status, url, userid
		from t_advertisement
		where status = 3 and url = "top"
		limit #{startIndex},#{pagesize}
	</select>

    <!--查询已经发布的轮播图数据总的记录条数-->
    <select id="queryPublishCarouseAdvertisementCount"  resultType="int">
		select count(*)
		from t_advertisement
		where status = 3 and url = "top"
    </select>

</mapper>


























