<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.atcrowdfunding.manager.dao.ProjectMapper" >

    <!--项目的映射配置文件-->

    <!--封装结果集-->
    <resultMap id="BaseResultMap" type="com.atguigu.atcrowdfunding.bean.Project" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="BIGINT" />
    <result column="day" property="day" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="deploydate" property="deploydate" jdbcType="CHAR" />
    <result column="supportmoney" property="supportmoney" jdbcType="BIGINT" />
    <result column="supporter" property="supporter" jdbcType="INTEGER" />
    <result column="completion" property="completion" jdbcType="INTEGER" />
    <result column="memberid" property="memberid" jdbcType="INTEGER" />
    <result column="createdate" property="createdate" jdbcType="CHAR" />
    <result column="follower" property="follower" jdbcType="INTEGER" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="projectType" property="projectType" jdbcType="VARCHAR" />
    </resultMap>

    <!--根据id删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_project
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--添加数据-->
    <insert id="insert" parameterType="com.atguigu.atcrowdfunding.bean.Project" >
    insert
    into t_project
    (id, name, remark, money, day, status, deploydate, supportmoney, supporter, completion, memberid, createdate, follower, filename, projectType)
    values
     (#{id,jdbcType=INTEGER},
      #{name,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR},
      #{money,jdbcType=BIGINT},
      #{day,jdbcType=INTEGER},
      #{status,jdbcType=CHAR},
      #{deploydate,jdbcType=CHAR},
      #{supportmoney,jdbcType=BIGINT},
      #{supporter,jdbcType=INTEGER},
      #{completion,jdbcType=INTEGER},
      #{memberid,jdbcType=INTEGER},
      #{createdate,jdbcType=CHAR},
      #{follower,jdbcType=INTEGER},
      #{filename,jdbcType=VARCHAR},
      #{projectType,jdbcType=VARCHAR})
    </insert>

    <!--根据id修改-->
    <update id="updateByPrimaryKey" parameterType="com.atguigu.atcrowdfunding.bean.Project" >
        update t_project
        set
          name = #{name,jdbcType=VARCHAR},
          remark = #{remark,jdbcType=VARCHAR},
          money = #{money,jdbcType=BIGINT},
          day = #{day,jdbcType=INTEGER},
          projectType = #{projectType,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--根据id查询-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select id, name, remark, money, day, status, deploydate, supportmoney, supporter, completion, memberid, createdate, follower, filename, projectType
        from t_project
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--查询所有-->
    <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, remark, money, day, status, deploydate, supportmoney, supporter, completion, memberid, createdate, follower, projectType
    from t_project
    </select>

    <!-- 查询分页数据 -->
    <select id="queryList" resultMap="BaseResultMap">
        select id, name, remark, money, day, status, deploydate, supportmoney, supporter, completion, memberid, createdate, follower, projectType
        from t_project
        limit #{startIndex},#{pagesize}
    </select>

    <!-- 查询总的记录条数 -->
    <select id="queryCount"  resultType="int">
        select count(*)
        from t_project
    </select>

    <!-- 查询分页数据，模糊查询 -->
    <select id="queryListLike" resultMap="BaseResultMap">
        select id, name, remark, money, day, status, deploydate, supportmoney, supporter, completion, memberid, createdate, follower
        from t_project
        <where>
          <if test="queryText != null">name like concat("%",#{queryText},"%")</if>
        </where>
        limit #{startIndex},#{pagesize}
    </select>

    <!-- 查询总的记录条数，模糊查询 -->
    <select id="queryCountLike"  resultType="int">
        select count(*)
        from t_project
        <where>
          <if test="queryText != null">name like concat("%",#{queryText},"%")</if>
        </where>
    </select>

    <!--将项目状态设置为 status:1 审核完成-->
    <update id="updateProjectStatusByIdPass" parameterType="com.atguigu.atcrowdfunding.bean.Project" >
        update t_project
        set
          status = 1
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--将项目状态设置为 status:5 审核完成-->
    <update id="updateProjectStatusByIdRefuse" parameterType="com.atguigu.atcrowdfunding.bean.Project" >
        update t_project
        set
          status = 5
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 获取查询需要发布项目的分页数据 -->
    <select id="queryPublishList" resultMap="BaseResultMap">
		select id, name, remark, money, day, status, deploydate, supportmoney, supporter, completion, memberid, createdate, follower
        from t_project
		where status = 1
		limit #{startIndex},#{pagesize}
	</select>

    <!-- 查询需要发布项目总的记录条数 -->
    <select id="queryPublishCount"  resultType="int">
		select count(*)
		from t_project
		where status = 1
  </select>

    <!--发布项目，将项目的status该为 2-->
    <update id="updateProjectStatusByIdPublish" parameterType="com.atguigu.atcrowdfunding.bean.Project" >
        update t_project
        set
          status = 2
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--获取查询已经发布的科技项目数据-->
    <select id="queryPublishTechnologyProject" resultMap="BaseResultMap">
		select id, name, remark, money, day, status, deploydate, supportmoney, supporter, completion, memberid, createdate, follower, filename, projectType
        from t_project
		where status = 2 and projectType = "technology"
		limit #{startIndex},#{pagesize}
	</select>

    <!--查询已经发布的科技项目数据总的记录条数-->
    <select id="queryPublishTechnologyProjectCount"  resultType="int">
		select count(*)
		from t_project
		where status = 2 and projectType = "technology"
    </select>

    <!--获取查询已经发布的设计类项目数据-->
    <select id="queryPublishDesignProjectList" resultMap="BaseResultMap">
		select id, name, remark, money, day, status, deploydate, supportmoney, supporter, completion, memberid, createdate, follower, filename, projectType
        from t_project
		where status = 2 and projectType = "design"
		limit #{startIndex},#{pagesize}
	</select>

    <!--查询已经发布的设计类项目总的记录条数-->
    <select id="queryPublishDesignProjectCount"  resultType="int">
		select count(*)
		from t_project
		where status = 2 and projectType = "design"
    </select>

    <!--获取查询已经发布的设计类项目数据-->
    <select id="queryPublishAgricultureProjectList" resultMap="BaseResultMap">
		select id, name, remark, money, day, status, deploydate, supportmoney, supporter, completion, memberid, createdate, follower, filename, projectType
        from t_project
		where status = 2 and projectType = "agriculture"
		limit #{startIndex},#{pagesize}
	</select>

    <!--查询已经发布的设计类项目总的记录条数-->
    <select id="queryPublishAgricultureProjectCount"  resultType="int">
		select count(*)
		from t_project
		where status = 2 and projectType = "agriculture"
    </select>

    <!--获取查询已经发布的设计类项目数据-->
    <select id="queryPublishOthersProjectList" resultMap="BaseResultMap">
		select id, name, remark, money, day, status, deploydate, supportmoney, supporter, completion, memberid, createdate, follower, filename, projectType
        from t_project
		where status = 2 and projectType = "others"
		limit #{startIndex},#{pagesize}
	</select>

    <!--查询已经发布的设计类项目总的记录条数-->
    <select id="queryPublishOthersProjectCount"  resultType="int">
		select count(*)
		from t_project
		where status = 2 and projectType = "others"
    </select>


</mapper>






































