<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.atcrowdfunding.manager.dao.RoleMapper" >

    <!-- 用户维护模块的映射配置文件 -->

    <!--封装结果集-->
    <resultMap id="BaseResultMap" type="com.atguigu.atcrowdfunding.bean.Role" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>

    <!--根据id删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
      delete from t_role
      where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--添加数据-->
    <insert id="insert" parameterType="com.atguigu.atcrowdfunding.bean.Role" >
      insert into t_role (id, name)
      values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
    </insert>

    <!--根据id修改-->
    <update id="updateByPrimaryKey" parameterType="com.atguigu.atcrowdfunding.bean.Role" >
      update t_role
      set name = #{name,jdbcType=VARCHAR}
      where id = #{id,jdbcType=INTEGER}
    </update>

    <!--根据id查询-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
      select id, name
      from t_role
      where id = #{id,jdbcType=INTEGER}
    </select>

    <!--查询所有-->
    <select id="selectAll" resultMap="BaseResultMap" >
      select id, name
      from t_role
    </select>

    <!-- 查询分页数据 -->
    <select id="queryList" resultMap="BaseResultMap">
		select id, name
		from t_role
		limit #{startIndex},#{pagesize}
	</select>

    <!-- 查询总的记录条数 -->
    <select id="queryCount"  resultType="int">
		select count(*)
		from t_role
	</select>

    <!-- 查询分页数据避免sql注入采用 concat进行拼串-->
    <select id="queryListLike" resultMap="BaseResultMap">
        select id, name
        from t_role
        <where>
            <!--<if test="queryText != null">loginacct like '%${queryText}%'</if>-->
            <if test="queryText != null">name like concat("%",#{queryText},"%")</if>
        </where>
        limit #{startIndex},#{pagesize}
    </select>

    <!-- 查询总的记录条数 -->
    <select id="queryCountLike"  resultType="int">
        select count(*)
        from t_role
        <where>
            <!--<if test="queryText != null">loginacct like '%${queryText}%'</if>-->
            <if test="queryText != null">name like concat("%",#{queryText},"%")</if>
        </where>
    </select>

    <!--删除用户所具有的所有权限-->
    <delete id="deleteRolePermissionRelationship">
        delete
        from t_role_permission
        where roleid = #{roleid}
    </delete>

    <!-- 给角色分配许可 -->
    <insert id="insertRolePermission">
        insert
        into t_role_permission(roleid, permissionid)
        values (#{roleid},#{permissionid})
    </insert>
</mapper>


























